.categories{
    padding-left: 20px;
}


.categories-list{
    padding: 10px 20px;
    transition: 0.2s all;
    border-radius: 5px;
    text-transform: uppercase;

}
.categories-list:hover{

    background-color: rgb(230, 230, 230);
    padding: 10px 25px;

}